@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&family=Roboto:wght@100;400&display=swap');

:root {
    --text-color: rgb(247, 247, 240);
    --bg-color: rgb(40, 41, 53);
    --textbox-color: rgb(30, 31, 39);
    --button-hover-color: rgb(100, 100, 110);
    --button-click-color: rgb(80, 80, 90);
    --button-disabled-color: rgb(90, 90, 100);
    --link-color: rgb(255, 104, 192);
    --link-hover-color: var(--text-color);
}

* {
    margin: 0;
    border: 0;
    box-sizing: border-box;
    outline: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    text-decoration: none;
    color: var(--text-color);
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 3rem;
    background-color: var(--bg-color);
}

.app {
    width: 70%;
    display: flex;
    flex-direction: column;
}

textarea {
    font-family: 'Roboto Mono', monospace;
    padding: 1rem;
    margin-top: 1rem;
    resize: vertical;
    background-color: var(--textbox-color);
}

h1 {
    font-weight: 100;
    margin-bottom: 1rem;
    text-transform: capitalize;
    letter-spacing: 0.08rem;
}

b {
    font-weight: 700;
}

a {
    margin-top: 2rem;
    font-weight: 700;
    letter-spacing: 0.08rem;
}

.buttons {
    display: flex;
    justify-content: center;
}

button {
    padding: 5px;
    margin: 1rem 5px;
    width: 100rem;
    border: var(--text-color) solid 1px;
    border-radius: 3px;
    font-weight: 400;
    letter-spacing: 1px;
    background-color: var(--bg-color);
}

button:hover {
    background-color: var(--button-hover-color);
}

button:active {
    background-color: var(--button-click-color);
}

button:disabled {
    color: var(--button-disabled-color);
    border: var(--button-disabled-color) solid 1px;
    background-color: var(--bg-color);
}

footer {
    display: flex;
    justify-content: space-between;
}

p {
    font-size: small;
}

a {
    font-weight: 400;
    letter-spacing: normal;
    color: var(--link-color);
}

a:hover {
    color: var(--link-hover-color);
}
@media only screen and (max-width: 900px) {
    
    .app {
        width: 90%;
    }
  }